          
          <div class="teaching">
            <h2>news</h2>
            {% if site.teaching != blank -%} 
            <div class="table-responsive">
              <table class="table table-sm table-borderless">
              {%- assign teaching = site.teaching | reverse -%}
              {% for item in teaching %} 
                <tr>
                  <th nowrap scope="row">{{ item.semester}}</th>
                  <td>
                    {% if item.inline -%} 
                      {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
                    {%- else -%} 
                      <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                    {%- endif %} 
                  </td>
                </tr>
              {%- endfor %} 
              </table>
            </div>
          {%- else -%} 
            <p>No teaching so far...</p>
          {%- endif %} 
          </div>
